/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5d7db;
}

/* Global styles */
body {
  font-family: 'Onest', sans-serif;
  line-height: 1.5;

}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
}

#title {
  color: #f4a261;
  text-align: center;
}

.resume__block {
  margin-bottom: 30px;
}

/* Intro section styles */
.intro__header {
  color: #2a9d8f;
  margin-bottom: 15px;
  text-align: center;
}

.intro_text {
  color: #3d424a;
  text-align: justify;
}

/* Skills section styles */
.skills__header {
  color: #2a9d8f;
  text-align: center;
  margin-bottom: 15px;
}

.skills__text {
  
  text-align: justify;
  margin-bottom: 10px;
}

/* Experiences section styles */
.experiences__header {
  text-align: center;
  color: #2a9d8f;
  margin: 15px 0;
  position: relative;
  display: inline-block;
}

.experiences__header::before,
.experiences__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
}

.experiences__header::before {
  left: 0;
}

.experiences__header::after {
  right: 0;
}

.experiences__company {
  margin-bottom: 30px;
}

.experiences__company-header {
  margin-bottom: 10px;
}

.experiences__company-header-durability {
  font-size: 15px;
}

.experiences__company-header-name {
  text-decoration: underline;
}

.experiences__company-project {
  margin-left: 15px;
  margin-bottom: 25px;
}

.experiences__company-project-role {
  font-size: 15px;
  margin-bottom: 10px;
}

.experiences__company-project-name {
  margin-bottom: 10px;
}



/* Education section styles */
.education__header {
  text-align: center;
  color: #2a9d8f;
  margin: 15px 0;
  position: relative;
  display: inline-block;
}

.education__header::before,
.education__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  
  position: absolute;
  top: 50%;
}

.education__header::before {
  left: 0;
}

.education__header::after {
  right: 0;
}

.education__college {
  margin-bottom: 30px;
}

.educations__college-header {
  margin-bottom: 10px;
}

.educations__college-header-durability {
  font-size: 15px;
}

.educations__college-header-name {
  text-decoration: underline;
}

/* Languages section styles */
.languages__header {
  text-align: center;
  color: #2a9d8f;
  margin: 15px 0;
  position: relative;
  display: inline-block;
}

.languages__header::before,
.languages__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
}

.languages__header::before {
  left: 0;
}

.languages__header::after {
  right: 0;
}

.languages__company {
  margin-bottom: 30px;
}

.languages__company-header {
  margin-bottom: 10px;
}

.languages__company-header-name {
  text-decoration: underline;
}

/* Contact section styles */
.contact__header {
  text-align: center;
  color: #2a9d8f;
  margin: 15px 0;
  position: relative;
  display: inline-block;
}

.contact__header::before,
.contact__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
}

.contact__header::before {
  left: 0;
}

.contact__header::after {
  right: 0;
}

.contact__contact {
  margin-bottom: 30px;
}

.contact__mail-header {
  margin-bottom: 10px;
}

.contact__mail-header-text {
  text-decoration: underline;
}

.contact__socialmedia-header {
  margin-bottom: 10px;
}

.contact__socialmedia-header-text {
  text-decoration: underline;
}




